.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin: 10% auto;
}
.social-links a {
    text-decoration: none;
    color: var(--bg-color);
    font-size: 24px;
    transition: color 0.3s;
}
.social-links a:hover {
    color: #1da1f2; /* Color de Twitter */
}

.social-links i {
    font-size: 3rem; /* Ajusta el tamaño de los iconos */
}

#siguenos {
    margin-top: 5%;
    color: var(--bg-color);
    text-align: center;
}

@media (min-width: 768px) {
    .social-links{
        flex-direction: column;
        margin-top: 15%;
        align-items: center;
    }

    #siguenos {
        margin-top: 15%;
        color: var(--bg-color);
        text-align: center;
    }
}
