* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de color y tipografía */
:root {
    --bg-color: #d1bfbd;
    --primary: #D73964;
    --secondary:  #3A3335;
    --accent-color: #8a2f3e;

    --text-color: #2C1A1D;
    --font-main: 'Fira Code', monospace;
}

/* ESTILOS GENERALES a nivel documento - HTML y Body */
html {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main);
    min-height: 100%;
}

/* LAYOUT con Grid - Mobile First */
.container {
    display: grid;
    grid-template:
        "header" auto
        "main" auto
        "sidebar" auto
        "footer" auto;
}

/* SECCIONES DE LA PÁGINA */
/* Header con Flex */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: 20px;
    background: var(--secondary);
    color: var(--bg-color);
    position: relative;
}

.brand {
    margin-left: 32px;
}


.brand img {
    width: 100%; /* Que se adapte al contenedor */
    max-width: 96px; /* No crezca más de 96px */
    height: auto; /* Mantiene la proporción */
}


/* Menú hamburguesa (solo en móviles y tablets) */
.menu {
    /* display: none; */
    display: flex;
    flex-direction: column;
    background: var(--accent-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    /* Animación */
    opacity: 0;
    clip-path: inset(0 0 100% 0); /* Oculta el menú */
    transition: clip-path 0.5s ease-out, opacity 0.5s ease-out;
    visibility: hidden;
    z-index: 10;
}

.menu a {
    text-decoration: none;
    color: var(--bg-color);
    padding: 12px;
}

.menu a:hover {
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 16px;
}

.menu li {
    list-style: none;
    text-align: center;
    padding: 15px 0;
}

.menu-toggle {
    display: block;
    cursor: pointer;
    margin-right: 16px;
    z-index: 15;
}

/* Mostrar el menú cuando está activo */
.menu.active {
    display: flex;
    opacity: 1;
    clip-path: inset(0 0 0 0); /* Muestra el menú */
    visibility: visible;
}

/* Estilos del icono de la "X" */
.close-menu {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 30px;
    filter: drop-shadow(0px 0px 3px #d1bfbdc7); /* Sombra alrededor de la "X" */
    transition: all 0.4s ease; /* Transición suave para todos los cambios */
    opacity: 0;
    visibility: hidden;
}
.close line {
    stroke-width: 12px; /* Aumentamos el grosor de las líneas al hacer hover */
    stroke: var(--secondary); /* Color de las líneas de la "X" */
    transition: all 1.7s ease; /* Transición suave para todos los cambios */
}


/* Hover líneas de la "X" */
.close:hover line {
    stroke-width: 16px; /* Aumentamos el grosor de las líneas al hacer hover */
    stroke: var(--primary); /* Color de las líneas de la "X" */
}

/* Hover del item */
.close-menu:hover {
    transform: scale(1.1); /* Agrandamos un poco el icono para hacerlo más llamativo */
    filter: drop-shadow(0px 0px 3px #3A3335); /* Sombra alrededor de la "X" */
}

/* Mostrar el icono de la "X" cuando el menú está abierto */
.menu.active .close-menu {
    display: block;
    opacity: 1; /* Hacemos el icono visible */
    visibility: visible;
}

/* Fondo borroso */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    backdrop-filter: blur(5px); /* Aplica el efecto borroso */
    opacity: 0;
    pointer-events: none; /* Evita que interfiera cuando está oculto */
    transition: opacity 0.3s ease;
    z-index: 5;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* BURGER */
.burger {
    width: 50%; /* tamaño en pantallas pequeñas de la burger */
    height: auto;
}

/* Estilos para el svg burger */
.burger rect {
    fill: var(--primary); /* Color del icono */
    transition: fill 0.3s;
}

/* Cambiar color con hover */
.burger:hover rect {
    fill: var(--bg-color);
}


/* MAIN */
.main {
    grid-area: main;
    background-color: var(--bg-color);
}

/* Barra lateral */
.sidebar {
    grid-area: sidebar;
    background-color: var(--accent-color);
    color: var(--text-color);
}

/* Footer */
.footer {
    grid-area: footer;
    color: var(--primary);
    background-color: var(--secondary);
    padding: 1.5rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-info, .footer-maps, .derechos {
    flex: 1;
}

/* MEDIA QUERIES */
/* Mantiene el menú hamburguesa hasta 1023px */
@media (min-width: 768px) {
    .container {
        grid-template:
            "header header" 10vh
            "sidebar main" auto
            "sidebar main" auto
            "footer footer" auto /
            1fr 4fr;
    }

    .brand {
        margin-left: 48px;
    }

    .burger {
        width: 75%; /* tamaño en pantallas medianas de la burger */
        height: auto;
    }

    .menu-toggle{
        margin-right: 32px;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}

/* En pantallas grandes (1024px en adelante), menú normal */
@media (min-width: 1024px) {
    .container {
        grid-template:
            "header header header" 10vh
            "sidebar main main" auto
            "sidebar main main" auto
            "footer footer footer" auto / 
            1fr 5fr;
    }

    /* Ocultar botón del menú hamburguesa */
    .menu-toggle {
        display: none;
    }

    .brand {
        margin-left: 64px;
    }

    .brand img {
        max-width: 112px; /* aumenta el tamaño en pantallas superiores a 600px de ancho */
    }

    /* Mostrar el menú en su posición normal */
    .menu {
        list-style: none;
        display: flex !important;
        flex-direction: row;
        background: none;
        position: static;
        width: auto;
        margin-right: 64px;
        opacity: 1;
        clip-path: none;
        visibility: visible;
    }

    .menu li {
        margin: 0 15px;
    }

    .menu a {
        text-decoration: none;
        color: var(--primary);
        padding: 10px;
    }

    .overlay {
        display: none !important;
    }
}
