* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de color y tipografía */
:root {
    --bg-color: #e9e0df;
    --primary: #D73964;
    --secondary: #3A3335;
    --accent-color: #8a2f3e;

    --text-color: #2C1A1D;
    --font-main: 'Fira Code', monospace;
}

/* Chrome, Safari, Edge */
/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
} */

/* ESTILOS GENERALES a nivel documento - HTML y Body */
html {
    height: 100%;
    overflow-y: scroll;

    /* Firefox scroll-bar style*/
    /* scrollbar-color: var(--primary) var(--bg-color);
    scrollbar-width: thin; */
    /* scrollbar-gutter: stable; */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main);
    min-height: 100%;
}

/* LAYOUT con Grid - Mobile First */
.grid-layout {
    display: grid;
    grid-template:
        "header" auto
        "main" auto
        "sidebar" auto
        "footer" auto;
}

/* SECCIONES DE LA PÁGINA */
/* Header*/
.header {
    grid-area: header;
    position: fixed;
    min-width: 100%;
    max-height: fit-content;
    transition: transform 0.7s ease, opacity 0.7s ease;
    opacity: 1;
    border-bottom: solid 3px var(--primary);
}

/* Estado oculto del header */
.header.hide {
    transform: translateY(-100%);
    opacity: 0;
}

/* Header container - Flex */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background: var(--secondary);
    color: var(--bg-color);
    position: relative;
}

/*Logo*/
.brand {
    margin-left: 1.5rem;
}


.brand img {
    width: 100%;
    /* Que se adapte al contenedor */
    max-width: 96px;
    /* No crezca más de 96px */
    height: auto;
    /* Mantiene la proporción */
}


/* Menú hamburguesa (solo en móviles y tablets) */
.menu {
    display: flex;
    flex-direction: column;
    background: var(--accent-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    /* Animación */
    opacity: 0;
    clip-path: inset(0 0 100% 0);
    /* Oculta el menú */
    transition: clip-path 0.5s ease-out, opacity 0.5s ease-out;
    visibility: hidden;
    z-index: 10;
}

.menu a {
    text-decoration: none;
    color: var(--bg-color);
    padding: 0.7rem;
}

.menu a:hover {
    color: var(--primary);
    /* background-color: var(--bg-color); */
    border-radius: 1rem;
}

.menu li {
    list-style: none;
    text-align: center;
    padding: 1rem 0;
}

.menu-toggle {
    display: block;
    cursor: pointer;
}

/* Mostrar el menú cuando está activo */
.menu.active {
    display: flex;
    opacity: 1;
    clip-path: inset(0 0 0 0);
    /* Muestra el menú */
    visibility: visible;
}

/* Estilos del icono de la "X" */
.close-menu {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 30px;
    filter: drop-shadow(0px 0px 3px #d1bfbdc7);
    /* Sombra alrededor de la "X" */
    transition: all 0.4s ease;
    /* Transición suave para todos los cambios */
    opacity: 0;
    visibility: hidden;
}

.close line {
    stroke-width: 12px;
    /* Aumentamos el grosor de las líneas al hacer hover */
    stroke: var(--secondary);
    /* Color de las líneas de la "X" */
    transition: all 1.7s ease;
    /* Transición suave para todos los cambios */
}

/* Hover líneas de la "X" */
.close:hover line {
    stroke-width: 16px;
    /* Aumentamos el grosor de las líneas al hacer hover */
    stroke: var(--primary);
    /* Color de las líneas de la "X" */
}

/* Hover del item */
.close-menu:hover {
    transform: scale(1.1);
    /* Agrandamos un poco el icono para hacerlo más llamativo */
    filter: drop-shadow(0px 0px 3px #3A3335);
    /* Sombra alrededor de la "X" */
}

/* Mostrar el icono de la "X" cuando el menú está abierto */
.menu.active .close-menu {
    /* display: block; */
    opacity: 1;
    /* Hacemos el icono visible */
    visibility: visible;
}

/* Fondo borroso */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Oscurece el fondo */
    backdrop-filter: blur(5px);
    /* Aplica el efecto borroso */
    opacity: 0;
    pointer-events: none;
    /* Evita que interfiera cuando está oculto */
    transition: opacity 0.3s ease;
    z-index: 5;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* BURGER */
.burger {
    width: 50%;
    /* tamaño en pantallas pequeñas de la burger */
    height: auto;
}

/* Estilos para el svg burger */
.burger rect {
    fill: var(--primary);
    /* Color del icono */
    transition: fill 0.3s;
}

/* Cambiar color con hover */
.burger:hover rect {
    fill: var(--bg-color);
}


/* MAIN */
.main {
    grid-area: main;
    background-color: var(--bg-color);
}

/* Barra lateral */
.sidebar {
    grid-area: sidebar;
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 1.5rem;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Footer */
.footer {
    grid-area: footer;
    color: var(--bg-color);
    background-color: var(--secondary);
    padding: 1.5rem;
    line-height: 1.6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.map-container {
    position: relative;
    aspect-ratio: 16/9;
    overflow: hidden;
    width: 100%;
    max-height: 200px;
    height: auto;
    display: block;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-info {
    flex: 1;
    width: 100%;
    height: 100%;
}

/* MEDIA QUERIES */
/* Mantiene el menú hamburguesa hasta 1023px */
@media (min-width: 768px) {
    .grid-layout {
        grid-template:
            "header header" auto
            "sidebar main" auto
            "sidebar main" auto
            "footer footer" auto /
            1fr 4fr;
    }

    .brand {
        margin-left: 2.5rem;
    }

    .burger {
        width: 75%;
        /* tamaño en pantallas medianas de la burger */
        height: auto;
    }

    .sidebar-container {
        gap: 8rem;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}

/* En pantallas grandes (1024px en adelante), menú normal */
@media (min-width: 1024px) {
    .grid-layout {
        grid-template:
            "header header header" auto
            "sidebar main main" auto
            "sidebar main main" auto
            "footer footer footer" auto / 1fr 5fr;
    }

    /* Ocultar botón del menú hamburguesa */
    .menu-toggle {
        display: none;
    }

    /* Ocultar X */
    .close-menu {
        display: none;
    }

    .brand {
        margin-left: 4rem;
    }

    .brand img {
        max-width: 112px;
        /* aumenta el tamaño en pantallas superiores a 600px de ancho */
    }

    /* Mostrar el menú en su posición normal */
    .menu {
        list-style: none;
        display: flex !important;
        flex-direction: row;
        gap: 3rem;
        background: none;
        position: static;
        width: auto;
        /* margin-right: 64px; */
        opacity: 1;
        clip-path: none;
        visibility: visible;
    }

    .menu a {
        text-decoration: none;
        color: var(--bg-color);
    }

    .overlay {
        display: none !important;
    }
}